body {
  font-family: 'Ubuntu Mono', monospace;
  margin: 20px;
  background-color: #023047;
  white-space: nowrap;
}
h1 {
  margin: 0;
}
a {
  margin: 0;
}
p {
  margin: 0;
}
.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;

  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(#ffb703, #ffffff);
}
#avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
#username {
  font-size: 20px;
  margin-top: 10px;
}
.account-details {
  display: flex;
  flex-direction: row;
}
.account-numbers {
  font-weight: bold;
  font-size: 20px;
}
.account-rows {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 10px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}